body {
  background-color: black;
}

#box {
  width: 250px;
  height: 250px;
  background-color: red;
  font-size: 13em;
  text-align: center;
  animation: glow;
  animation-duration: 2s;
}

@keyframes slideLeft {
  from {
    transform: translateX(300%);
  }
}

@keyframes slideRight {
  to {
    transform: translateX(300%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(300%);
  }
}

@keyframes rotate {
  100% {
    transform: rotatey(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(2, 2);
  }
}

@keyframes shrink {
  50% {
    transform: scale(0.5, 0.5);
  }
}

@keyframes fade {
  50% {
    opacity: 0;
  }
}

@keyframes colorChange {
  0% {
    color: red;
  }
  20% {
    color: orange;
  }
  40% {
    color: yellow;
  }
  60% {
    color: green;
  }
  80% {
    color: blue;
  }
  100% {
    color: purple;
  }
}

@keyframes glow {
  50% {
    box-shadow: 0 0 50px yellow;
  }
}
