pre {
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
