#box1 {
  width: 200px;
  height: 200px;
  background-color: lightseagreen;
  position: sticky;
  top: 0;
}

#box2 {
  width: 100px;
  height: 100px;
  background-color: lightcoral;
  position: absolute;
  top: 50px;
  left: 50px;
}
